<%- include('../partials/head.ejs') %>
<body>

    <%- include('../partials/navAccount.ejs') %>

    <div class="container p-5">
        <ul class="list-group">
            <% if(transfers && transfers.length > 0) { %>
                <% transfers.forEach(transfer => { %>
                    <li class="list-group-item p-3 d-flex justify-content-between align-items-center <%= transfer.isSended ? 'bg-lose' : 'bg-winned' %>">
                        <p class="m-0"><%= transfer.name %></p>
                        <p class="m-0"><%= transfer.reason %></p>
                        <p class="m-0"><%= transfer.amount %></p>
                        <p class="m-0"><%= transfer.date.toDateString() %> <%= transfer.date.getHours() %>/<%= transfer.date.getMinutes() %></p>
                    </li>
                <% }) %>
            <% } else { %>
                <li class="bg-primary list-group-item">No transfers founded.</li>
            <% } %>    
        </ul>
    </div>
</body>